body{
    background-color:rgb(209, 202, 194)
}

.header{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    background-color:rgb(172, 163, 152);
    color:whitesmoke;
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(95, 89, 82);
    text-align:center;
    font-size:large;    
}

a{
    color:rgb(95, 89, 82);
}

.tracklist-row{
    background-color: rgb(243, 235, 224);
}

.bio{
    text-align:right;
    color:rgb(88, 84, 79)
}